@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,900;1,800&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* @는 최상단 기재 css파일은 style선언x*/

/* reset */
*{margin: 0;padding: 0;}

/* typograph */
body{
  font-family: "맑은 고딕";
  font-size: 0.875em; /*line-height도 넣으면 좋음*/
}
/* 공통 */
/* 가변이미지 부모를 따르는 이미지를 원할때 */
.img-wrap img{width: 100%; display:block;}
/* 레이아웃 */
/* 공통레이아웃 */
/* 페이지별 */
.banner{
  /* float로 자식배너 인식못하는 부모에게 overflow 설정 */
  overflow: hidden;
  /* background-color: #999; */
}
.banner::after{
  content: '';
  display: block;
  clear: both;
}
.banner .left{
  float:left;
  width:60%;
  height: 400px;
  border-radius: 0 200px 200px 0;
  /* 둥글린 이미지에 넘치는 이미지 숨기기 위해 overflow 설정 */
  overflow: hidden;
 }
.banner .right{
  float:right;
  width: 38%;
  height: 400px;
  padding-top: 110px;
  padding-left: 90px;
  /* padding-left: 90px;
   bgc삭제후 정렬이 지저분해지므로 text-align 지우고 paddign-left 정렬해주기 */
  box-sizing: border-box;
  
  /* background-color: #ccc; */
  /* text-align: center; right의 des title button 개별설정 번거러우므로 right에 한번에 설정-> bcg 지운후 text-align 지우고 padding-left로 설정해준다 */
  /* text-align: center; */
}

.banner .right .des,
.banner .right .title,
.banner .right .button{
  font-family: 'Raleway', sans-serif;
}
.banner .right .des{
  font-weight: 200;
  font-size: 16px;
  letter-spacing: -1px;
}
.banner .right .title{
  margin: -10px 0 40px 0;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 2px;
}
.banner .right .button{
  display: inline-block;
  border: 1px solid currentcolor;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 5px;
}